
body { margin: 0; padding: 0; font-family: "nasalization", Helvetica, Arial, sans-serif; color: white; }
h2 { margin: 2em 0em 1em 0.5em; }
h3 { margin: 2em 0em 1em 0.5em; }
button { cursor: pointer; }
nav.navMain { vertical-align: top; }
ul.buttonsBar { list-style: none;  margin-left: 0; padding-left: 0; }
ul.buttonsBar li { display: inline; list-style-type:none;  }


div.login { text-align: center; margin-top: 5em; }
div.login > input { width: 20em; }

button.close { display: inline-block; background-image: url('/buttonClose.png'); width: 24px; height: 24px; float: right; }
#menuMain { display: block; text-align: center; margin: 2em auto; width: 12em;}
ul.menuMain { list-style: none;  padding: 0; margin: 0; }
ul.menuMain li { display: block; list-style-type:none; }
ul.menuMain > li > button { border: 0.1em solid white; width: 11em; margin: 0.5em; padding: 0.5em 0; text-align: center; background: none; color: white; font-family: "Digital-7"; font-size: large; }

#buttonAvatar { display: inline-block; float: right; }
button.buttonAvatar { padding: 0; margin: 0; }
#avatarMinified { display: block; padding: 0; margin: 0; }

ul.menuProfile { position: absolute; top: 50px; right: 0; border: 0.5em solid black; background: white; list-style: none; margin-left: 0; padding: 0 0.5em; max-width: 20em; z-index: 1000;}
ul.menuProfile > li:first-child { height: 24px; }
ul.menuProfile li { vertical-align: top; }
div.menuProfileIcone { display: inline-block; }
div.menuProfileIcone > img { width: 2em; height: 2em; }
div.menuProfileInfo { display: inline-block; }
div.menuProfileLien { display: inline-block; }
button.menuProfileLogout { display: inline-block; }


div.utilisateur { display: block; border-bottom: 0.2em dotted white; margin-bottom: 1em;}
div.utilisateurAvatar { display: inline-block; }
div.utilisateurInfo { display: inline-block; color: white; }

div.scenarioParametre { margin-bottom: 0.2em; padding-left: 0.5em; }
div.scenarioParametre label { display: inline-block; width: 8em; vertical-align: top; }
div.scenarioParametre label.required::after { content: "*"; color: red; font-size: large; margin-left: 0.2em; }
div.scenarioParametre input[type="text"] { width: 11em; }
div.scenarioParametre select { width: 11.45em; }
div.scenarioParametre input[type="text"].longText { width: 22em; }
div.scenarioParametre textarea { width: 22.5em; }
div.scenarioParametre.error { border: 0.05em solid red; }

div.toolbarForm ul { list-style: none;  margin-left: 0; padding-left: 0; }
div.toolbarForm ul li {  display: inline; list-style-type:none; }
div.toolbarForm ul li button { border: 0.1em solid white; width: 7em; margin: 0.2em; padding: 0.2em 0; text-align: center; background: none; color: white; font-family: "Digital-7"; }

/* S: 320*480; M: 1024*768; L: 1920*1080; */
/* tester en remplaçant dans @media width par device-width  */
@media only screen and (max-width: 480px) {
	body { background: #111111; background-image: url('/fond480x480.jpg'); }
	#logoApplication { display: inline-block; width: 200px; height: 50px; background-image: url('/logoApplication_S.png'); }
}
@media only screen and (min-width: 480px) and (max-width: 1024px){
	body { background: #111111; background-image: url('/fond1024x1024.jpg'); }
	#logoApplication { display: inline-block; width: 300px; height: 75px; background-image: url('/logoApplication_M.png'); }
}
@media screen and (min-width: 1024px) {
	body { background: #111111; background-image: url('/fond1920x1080.jpg'); }
	#logoApplication { display: inline-block; width: 300px; height: 75px; background-image: url('/logoApplication_L.png'); }
}
@font-face {
    font-family: "nasalization";
    src: url('/font/nasalization_rg.ttf');
}
@font-face {
    font-family: "Digital-7";
    src: url('/font/digital-7.ttf');
}
@font-face {
    font-family: "Digital-7";
    font-style: italic;
    src: url('/font/digital-7_(italic).ttf');
}
