
body { margin: 0; padding: 0; font-family: "MyriadPro", Helvetica, Arial, sans-serif; color: white; }
input, select, textarea { color: #333; }
.container { max-width: 1024px; height: 100%; margin: 0 auto; padding: 0; background-color: black; }
#main { padding: 0 0.5em; }
h1 { font-family: "nasalization"; margin: 2em 0em 1em 0.5em; }
h2 { font-family: "nasalization"; margin: 2em 0em 1em 0.5em; }
h3 { font-family: "nasalization"; margin: 2em 0em 1em 0.5em; }
button { font-family: "nasalization"; cursor: pointer; }
button.lien { border: none; background: none;  text-decoration: underline; color: white; }
button.bouton { border: 0.1em solid white; width: 7em; margin: 0.2em; padding: 0.2em 0; text-align: center; background: none; color: white; }
button.petitBouton { border: 0.1em solid white; margin: 0.2em; text-align: center; background: none; color: white; font-size: x-small; width: 105px; }
nav.navMain { font-family: "nasalization"; vertical-align: top; }
#navMainHR { width: 100%; height: 7px; background-image: url('ligne.png'); }
ul.buttonsBar, div.statsScenario ul { list-style: none;  margin-left: 0; padding-left: 0; }
ul.buttonsBar li { display: inline; list-style-type:none;  }


div.login { text-align: center; margin-top: 5em; }
div.login > input { width: 20em; }

button.close { display: inline-block; background-image: url('/buttonClose.png'); width: 24px; height: 24px; float: right; }
#menuMain { display: block; text-align: center; margin: 2em auto; width: 12em;}
ul.menuMain { list-style: none;  padding: 0; margin: 0; }
ul.menuMain li { display: block; list-style-type:none; }
ul.menuMain > li > button { border: 0.1em solid white; width: 11em; margin: 0.5em; padding: 0.5em 0; text-align: center; background: none; color: white; font-family: "nasalization"; font-size: large; }

#buttonAvatar { display: inline-block; float: right; }
button.buttonAvatar { padding: 0; margin: 0; background: none; border: none; }
#avatarMinified { display: block; padding: 0; margin: 0; }

#buttonNotifications { display: inline-block; float: right; }
button.buttonNotifications { padding: 0; margin: 0; background: none; border: none; }
#notificationMinified { display: block; padding: 0; margin: 0; }
div.nNotifications { display: inline-block; background: red; font-family: "MyriadPro", Helvetica, Arial, sans-serif; font-size: small; color: white; padding: 2px 4px 0 4px; position: relative; top: -30px; right: -15px; border-radius: 3px; }

/*ul.menuProfile { position: absolute; top: 50px; right: 0; border: 0.5em solid black; list-style: none; margin-left: 0; padding: 0 0.5em; max-width: 20em; z-index: 1000;}*/
ul.menuProfile { border: 0.5px dashed white; color: #DDD; width: 324px; float: right; margin-top: 75px; list-style: none; }
ul.menuProfile > li:first-child { height: 24px; }
ul.menuProfile li { vertical-align: top; }
div.menuProfileIcone { display: inline-block; }
div.menuProfileIcone > img { width: 24px; height: 24px; }
div.menuProfileInfo { display: inline-block; vertical-align: top; }
div.menuProfileLien { display: inline-block; vertical-align: top; float: right; }
button.menuProfileLogout { display: inline-block; }

div.utilisateur { display: block; border-bottom: 0.2em dotted white; margin-bottom: 1em;}
div.utilisateurAvatar { display: inline-block; }
div.utilisateurInfo { display: inline-block; color: white; }

div.scenarioParametre { margin-bottom: 0.2em; padding-left: 0.5em; }
div.scenarioParametre label { display: inline-block; width: 8em; vertical-align: top; }
div.scenarioParametre label.required::after { content: "*"; color: red; font-size: large; margin-left: 0.2em; }
div.scenarioParametre input[type="text"] { width: 11em; }
div.scenarioParametre select { width: 11.45em; }
div.scenarioParametre input[type="text"].longText { width: 22em; }
div.scenarioParametre textarea { width: 22.5em; }
div.scenarioParametre.error { border: 0.05em solid red; }

div.configScenarios div.scenario, div.listScenarios div.scenario { display: block; margin: 1em 0; padding: 0.3em; border-bottom: 0.01em dashed white; }
div.configScenarios div.scenario div.descScenario, div.configScenarios div.scenario div.tagsScenario, div.configScenarios div.scenario div.statsScenario { font-size: small; }
div.listScenarios div.scenario div.descScenario, div.listScenarios div.scenario div.tagsScenario, div.listScenarios div.scenario div.statsScenario { font-size: small; }

div.listParties div.partie div.descPartie, div.listParties div.partie div.tagsPartie, div.listParties div.partie div.statsPartie { font-size: small; }

div.toolbarForm > ul, nav.navPartieMenu > ul, nav.navPartieConstantes > ul { list-style: none;  margin-left: 0; padding-left: 0; }
div.toolbarForm > ul > li, nav.navPartieMenu > ul > li, nav.navPartieConstantes > ul > li {  display: inline; list-style-type:none; }
div.toolbarForm > ul > li button { border: 0.1em solid white; width: 7em; margin: 0.2em; padding: 0.2em 0; text-align: center; background: none; color: white; }
nav.navPartieMenu button, nav.navPartieConstantes button { border: none; }

span.partieConstante { font-family: "Digital-7"; font-size: 16px; margin: 0 6px 0 3px; position: relative; top: 4px; }
span.valUnite { font-family: "MyriadPro", Helvetica, Arial, sans-serif; font-size: 12px; padding-top: 2px; }

#nomPartieForm { display: none; }
#nomPartie h1, #nomPartieTxt { font-family: "nasalization"; margin: 0em 0.5em 0.1em 0.5em; font-size: medium; color: white; }
#nomPartieTxt { border: none; background: none; font-family: "nasalization";  }

div.carte { width: 246px; border: 2px solid #777; border-radius: 1em; min-height: 344px; background-color: rgba(0,0,0, 0.6); cursor: pointer; vertical-align: top; }
div.carteIntitule { position: relative; top: 0; left: 0; width: 244px; height: 65px; border: none; padding: 0; margin: 0; margin-left: -1px;}
div.carteIntitule.A { background: url('/Cartes/carteEnTeteA.png');  }
div.carteIntitule.A div.carteId { color: #802098;  }
div.carteConstantes.A { background: #802098; }
div.carteIntitule.C { background: url('/Cartes/carteEnTeteC.png');  }
div.carteIntitule.C div.carteId { color: #ec008c;  }
div.carteConstantes.C { background: #ec008c; }
div.carteIntitule.E { background: url('/Cartes/carteEnTeteE.png');  }
div.carteIntitule.E div.carteId { color: #f1592a;  }
div.carteConstantes.E { background: #f1592a; }
div.carteIntitule.I { background: url('/Cartes/carteEnTeteI.png');  }
div.carteIntitule.I div.carteId { color: #676766;  }
div.carteConstantes.I { background: #676766; }
div.carteIntitule.J { background: url('/Cartes/carteEnTeteJ.png');  }
div.carteIntitule.J div.carteId { color: #40dd8b;  }
div.carteConstantes.J { background: #40dd8b; }
div.carteIntitule.L { background: url('/Cartes/carteEnTeteL.png');  }
div.carteIntitule.L div.carteId { color: #3ac2f1;  }
div.carteConstantes.L { background: #3ac2f1; }
div.carteIntitule.M { background: url('/Cartes/carteEnTeteM.png');  }
div.carteIntitule.M div.carteId { color: #d32336;  }
div.carteConstantes.M { background: #d32336; }
div.carteIntitule.O { background: url('/Cartes/carteEnTeteO.png');  }
div.carteIntitule.O div.carteId { color: #fe2b37;  }
div.carteConstantes.O { background: #fe2b37; } 
div.carteIntitule.P { background: url('/Cartes/carteEnTeteP.png');  }
div.carteIntitule.P div.carteId { color: #2aa233;  }
div.carteConstantes.P { background: #2aa233; }
div.carteIntitule.S { background: url('/Cartes/carteEnTeteS.png');  }
div.carteIntitule.S div.carteId { color: #25266c;  }
div.carteConstantes.S { background: #25266c; }
div.carteIntitule.T { background: url('/Cartes/carteEnTeteT.png');  }
div.carteIntitule.T div.carteId { color: #983620;  }
div.carteConstantes.T { background: #983620; }
div.carteIntitule.X { background: url('/Cartes/carteEnTeteX.png');  }
div.carteIntitule.X div.carteId { color: #a7a9ac;  }
div.carteConstantes.X { background: #a7a9ac; }
div.carteIntitule.Z { background: url('/Cartes/carteEnTeteZ.png');  }
div.carteIntitule.Z div.carteId { color: #c88855;  }
div.carteConstantes.Z { background: #c88855; }
div.carteIntitule div.intitule { position: absolute; display: inline-block; width: 144px; height: 45px; top: 14px; left: 60px; line-height: 45px; }
div.carteIntitule div.intitule span { display: inline-block; vertical-align: middle; line-height: 1.1; font-size: 14px;}
div.carteIntitule div.carteId { position: absolute; display: inline-block; width: 25px; height: 25px; top: 17px; right: 14px; text-align: center; font-size: 13px; }
div.carteIntitule div.carteCopyright { position: absolute; display: inline-block; width: 200px; height: 5px; top: 54.5px; right: 13px; text-align: right; font-size: 10px; color: #333; }
div.carteIllustration { width: 234px; margin: 2px 4px; }
div.carteIllustration img { display: block; width: 234px; border: none; margin: 0; padding: 0; }
div.carteDescription { background: white; color: #333; padding: 2px 5px 0 5px; font-size: 12px; margin: 0 4px; line-height: 14px; }
div.carteConstantes { width: 234px; height: 30px; padding: 2px; font-size: 12px; margin: 2px 4px 0 4px; font-family: "Digital-7"; text-align: center; }
div.carteConstante { display: inline-block; }
div.carteConstanteBudget { display: inline-block; background: url('/Cartes/icoBPG-euro.png'); width: 21px; height: 26px; }
div.carteConstanteMasse { display: inline-block; background: url('/Cartes/icoBPG-kg.png'); width: 21px; height: 26px; }
div.carteConstanteVolume { display: inline-block; background: url('/Cartes/icoBPG-vol.png'); width: 21px; height: 26px; }
div.carteConstanteEnergie { display: inline-block; background: url('/Cartes/icoBPG-nrj.png'); width: 21px; height: 26px; }
div.carteConstanteScience { display: inline-block; background: url('/Cartes/icoBPG-star.png'); width: 21px; height: 26px; }
div.carteConstanteValeur { display: inline-block; background: url('/Cartes/icoBPG-INTER.png') repeat; height: 26px; min-width: 5px; padding-left: 2px; color: #333; line-height: 26px; position: relative; top: -10px; left: 0; }
div.carteConstanteValeur span { display: inline-block; vertical-align: middle; line-height: 1.3; padding-top: 2px; }
div.carteConstanteFin { display: inline-block; background: url('/Cartes/icoBPG-FIN.png'); width: 9px; height: 26px; }
div.carteTips { background-color: white; border-radius: 5px; color: #333; padding: 2px 10px; font-size: 11px; margin: 2px 4px; font-style: italic; text-align: center; }
div.carte.isDeck { border: 2px solid white; box-shadow: 0px 0px 15px #fff; }
div.partieCategorie { cursor: pointer; }
div.partieCategorieLabel {  font-family: "nasalization"; }
button.carteLien, button.categorieLien { display: inline-block; border: none; cursor: pointer; background: none; font-family: "MyriadPro", Helvetica, Arial, sans-serif; font-size: medium; color: white; }

.-autocomplete-container { position: absolute; background: white; color: #333; border: 1px solid #DDD; border-radius: 3px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); min-width: 300px; z-index: 1000; }
.-autocomplete-list { list-style: none; margin: 0; padding: 0; }
.-autocomplete-item { display: block; width: 300px; padding: 5px 10px; border-bottom: 1px solid #DDD; }
.-autocomplete-item.selected { color: white; background: #4183C4; text-decoration: none; }
div.message {}
div.reponse { color: #8eb935; }
div.appel { color: #f7941e; }
div.messages div.date { display: inline-block; font-family: "Digital-7"; width: 7em; }
div.messageHeader { color: #25aae1; }
div.messageAvatar { display: inline-block; text-align: center; width: 7em; }
div.messageAvatar img { display: block; margin: 0 auto; text-align: center; }
div.messageTexte { display: inline-block; vertical-align: top; }
div.newMessage, div.newMessage button { vertical-align: top; }
#percentLanceurModal { display: block; height: 40px; line-height: 40px; }
div.iconePcLanceur { display: inline-block; width: 40px; height: 40px; background: url('/icones_S/L320b_prc.png') no-repeat; }
div.pcLanceur { display: inline-block; position: relative; top: -10px; } 
#partiePcLanceur { display: inline; height: 40px; vertical-align: middle; }
#percentLanceur { position: relative; top: -5px; }

div.notificationsMenu { border: 0.5px dashed white; color: #DDD; width: 324px; float: right; margin-top: 75px; }
div.notification { margin: 2px 0px;  }
div.notificationAvatar { display: inline-block; width: 35px; }
div.notificationAvatar img { width: 32px; }
div.notificationBody { display: inline-block;  vertical-align: top; font-size: small; }
div.notificationsMenu div.notificationBody { width: calc(320px - 35px); background-color: red; }
div.notificationTexte { background-color: #111; padding: 2px 5px 1px 5px; }
div.notificationDate { background-color: #333; padding: 1px 5px 2px 5px; }
span.lienPartie { cursor: pointer; text-decoration: underline; }
div.notificationsMenu button { border: 0.1em solid white; width: 320px; margin: 0.2em; padding: 0.2em 0; text-align: center; background: none; color: white; }

/* S: 320*480; M: 1024*768; L: 1920*1080; */
/* tester en remplaçant dans @media width par device-width  */
@media only screen and (max-width: 480px) {
	body { background: #111111 url('/fond480x480.jpg') no-repeat fixed center top; }
	#logoApplication { display: inline-block; width: 200px; height: 50px; background: url('/logoApplication_S.png') no-repeat; }
    div.statsScenario ul li, div.statsPartie ul li { display: inline; list-style-type:none;  }
    #partieLancement { display: inline-block; width: 46px; height: 46px; background: url('/icones_S/submit.png') no-repeat; }
    #partieExpertise { display: inline-block; width: 46px; height: 46px; background: url('/icones_S/exprt320.png') no-repeat; }
    #partieCollaboration { display: inline-block; width: 46px; height: 46px; background: url('/icones_S/collab320.png') no-repeat; }
    #partieMagasin { display: inline-block; width: 46px; height: 46px; background: url('/icones_S/mag320.png') no-repeat; }
    #partieOrbite { display: inline-block; width: 46px; height: 46px; background: url('/icones_S/O320.png') no-repeat; }
    #partieLanceur { display: inline-block; width: 46px; height: 46px; background: url('/icones_S/L320.png') no-repeat; }
    #partieScenario { display: inline-block; width: 46px; height: 46px; background: url('/icones_S/obj320.png') no-repeat; }
    button.euro-rd1 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/euro-rd1.png') no-repeat; }
    button.euro-rd2 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/euro-rd2.png') no-repeat; }
    button.euro-rd3 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/euro-rd3.png') no-repeat; }
    button.euro-rd4 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/euro-rd4.png') no-repeat; }
    button.nrj-rd1 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/nrj-rd1.png') no-repeat; }
    button.nrj-rd2 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/nrj-rd2.png') no-repeat; }
    button.nrj-rd3 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/nrj-rd3.png') no-repeat; }
    button.nrj-rd4 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/nrj-rd4.png') no-repeat; }
    button.Kg-rd1 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/Kg-rd1.png') no-repeat; }
    button.Kg-rd2 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/Kg-rd2.png') no-repeat; }
    button.Kg-rd3 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/Kg-rd3.png') no-repeat; }
    button.Kg-rd4 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/Kg-rd4.png') no-repeat; }
    button.cm-rd1 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/cm-rd1.png') no-repeat; }
    button.cm-rd2 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/cm-rd2.png') no-repeat; }
    button.cm-rd3 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/cm-rd3.png') no-repeat; }
    button.cm-rd4 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/cm-rd4.png') no-repeat; }
    button.star-rd4 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/star-rd4.png') no-repeat; }
    button.L-rd0 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd00.png') no-repeat; }
    button.L-rd1 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd01.png') no-repeat; }
    button.L-rd2 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd02.png') no-repeat; }
    button.L-rd3 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd03.png') no-repeat; }
    button.L-rd4 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd04.png') no-repeat; }
    button.L-rd5 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd05.png') no-repeat; }
    button.L-rd6 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd06.png') no-repeat; }
    button.L-rd7 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd07.png') no-repeat; }
    button.L-rd8 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd08.png') no-repeat; }
    button.L-rd9 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd09.png') no-repeat; }
    button.L-rd10 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd10.png') no-repeat; }
    span.partieConstante { display: none; }
    div.partieCategorie { display: block; width: 100%; }
    div.partieCategorieIcone { display: inline-block; width: 44px; height: 44px; font-size:0; vertical-align: top; }
    div.partieCategorieIcone.A { background: url('/icones_S/A0.png'); }
    div.partieCategorieIcone.C { background: url('/icones_S/C0.png'); }
    div.partieCategorieIcone.E { background: url('/icones_S/E0.png'); }
    div.partieCategorieIcone.I { background: url('/icones_S/I0.png'); }
    div.partieCategorieIcone.J { background: url('/icones_S/J0.png'); }
    div.partieCategorieIcone.M { background: url('/icones_S/M0.png'); }
    div.partieCategorieIcone.P { background: url('/icones_S/P0.png'); }
    div.partieCategorieIcone.S { background: url('/icones_S/S0.png'); }
    div.partieCategorieIcone.T { background: url('/icones_S/T0.png'); }
    div.partieCategorieIcone.Z { background: url('/icones_S/Z0.png'); }
    div.partieCategorieLabel span { height: 44px; line-height: 44px; font-size: 14px;}
    div.partieCategorieLabel span.stat { font-size: 11px; }
    #percentLanceur { display: inline; }
    textarea.newMessage { width:300px; }
}
@media only screen and (min-width: 480px){
    div.infosScenario, div.infosPartie { display: inline-block; width: calc(100% - 15em); }
    div.statsScenario, div.statsPartie { display: inline-block; width: 15em; }
    #partieLancement { display: inline-block; width: 52px; height: 52px; background: url('/icones_M/submit.png') no-repeat; }
    #partieExpertise { display: inline-block; width: 52px; height: 52px; background: url('/icones_M/exprt1024.png') no-repeat; }
    #partieCollaboration { display: inline-block; width: 52px; height: 52px; background: url('/icones_M/collab1024.png') no-repeat; }
    #partieMagasin { display: inline-block; width: 52px; height: 52px; background: url('/icones_M/mag1024.png') no-repeat; }
    #partieOrbite { display: inline-block; width: 52px; height: 52px; background: url('/icones_M/O1024.png') no-repeat; }
    #partieLanceur { display: inline-block; width: 52px; height: 52px; background: url('/icones_M/L1024.png') no-repeat; }
    #partieScenario { display: inline-block; width: 52px; height: 52px; background: url('/icones_M/obj1024.png') no-repeat; }
    /*button.euro-rd1 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/euro-rd1.png') no-repeat; }
    button.euro-rd2 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/euro-rd2.png') no-repeat; }
    button.euro-rd3 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/euro-rd3.png') no-repeat; }
    button.euro-rd4 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/euro-rd4.png') no-repeat; }
    button.nrj-rd1 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/nrj-rd1.png') no-repeat; }
    button.nrj-rd2 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/nrj-rd2.png') no-repeat; }
    button.nrj-rd3 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/nrj-rd3.png') no-repeat; }
    button.nrj-rd4 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/nrj-rd4.png') no-repeat; }
    button.Kg-rd1 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/Kg-rd1.png') no-repeat; }
    button.Kg-rd2 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/Kg-rd2.png') no-repeat; }
    button.Kg-rd3 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/Kg-rd3.png') no-repeat; }
    button.Kg-rd4 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/Kg-rd4.png') no-repeat; }
    button.cm-rd1 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/cm-rd1.png') no-repeat; }
    button.cm-rd2 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/cm-rd2.png') no-repeat; }
    button.cm-rd3 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/cm-rd3.png') no-repeat; }
    button.cm-rd4 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/cm-rd4.png') no-repeat; }
    button.star-rd4 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/star-rd4.png') no-repeat; }
    button.L-rd0 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/L-rd00.png') no-repeat; }
    button.L-rd1 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/L-rd01.png') no-repeat; }
    button.L-rd2 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/L-rd02.png') no-repeat; }
    button.L-rd3 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/L-rd03.png') no-repeat; }
    button.L-rd4 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/L-rd04.png') no-repeat; }
    button.L-rd5 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/L-rd05.png') no-repeat; }
    button.L-rd6 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/L-rd06.png') no-repeat; }
    button.L-rd7 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/L-rd07.png') no-repeat; }
    button.L-rd8 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/L-rd08.png') no-repeat; }
    button.L-rd9 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/L-rd09.png') no-repeat; }
    button.L-rd10 { display: inline-block; width: 55px; height: 55px; background: url('/icones_M/L-rd10.png') no-repeat; }*/
     button.euro-rd1 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/euro-rd1.png') no-repeat; }
    button.euro-rd2 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/euro-rd2.png') no-repeat; }
    button.euro-rd3 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/euro-rd3.png') no-repeat; }
    button.euro-rd4 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/euro-rd4.png') no-repeat; }
    button.nrj-rd1 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/nrj-rd1.png') no-repeat; }
    button.nrj-rd2 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/nrj-rd2.png') no-repeat; }
    button.nrj-rd3 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/nrj-rd3.png') no-repeat; }
    button.nrj-rd4 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/nrj-rd4.png') no-repeat; }
    button.Kg-rd1 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/Kg-rd1.png') no-repeat; }
    button.Kg-rd2 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/Kg-rd2.png') no-repeat; }
    button.Kg-rd3 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/Kg-rd3.png') no-repeat; }
    button.Kg-rd4 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/Kg-rd4.png') no-repeat; }
    button.cm-rd1 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/cm-rd1.png') no-repeat; }
    button.cm-rd2 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/cm-rd2.png') no-repeat; }
    button.cm-rd3 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/cm-rd3.png') no-repeat; }
    button.cm-rd4 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/cm-rd4.png') no-repeat; }
    button.star-rd4 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/star-rd4.png') no-repeat; }
    button.L-rd0 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd00.png') no-repeat; }
    button.L-rd1 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd01.png') no-repeat; }
    button.L-rd2 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd02.png') no-repeat; }
    button.L-rd3 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd03.png') no-repeat; }
    button.L-rd4 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd04.png') no-repeat; }
    button.L-rd5 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd05.png') no-repeat; }
    button.L-rd6 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd06.png') no-repeat; }
    button.L-rd7 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd07.png') no-repeat; }
    button.L-rd8 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd08.png') no-repeat; }
    button.L-rd9 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd09.png') no-repeat; }
    button.L-rd10 { display: inline-block; width: 36px; height: 36px; background: url('/icones_S/L-rd10.png') no-repeat; }
    div.carte { display: inline-block; margin: 10px; }
    div.partieCategorie { display: inline-block; width: 20em;  height: 47px; margin-bottom: 1em; } 
    div.partieCategorieIcone { display: inline-block; width: 47px; height: 47px; font-size:0; vertical-align: top; }
    div.partieCategorieIcone.A { background: url('/icones_M/A0.png'); }
    div.partieCategorieIcone.C { background: url('/icones_M/C0.png'); }
    div.partieCategorieIcone.E { background: url('/icones_M/E0.png'); }
    div.partieCategorieIcone.I { background: url('/icones_M/I0.png'); }
    div.partieCategorieIcone.J { background: url('/icones_M/J0.png'); }
    div.partieCategorieIcone.M { background: url('/icones_M/M0.png'); }
    div.partieCategorieIcone.P { background: url('/icones_M/P0.png'); }
    div.partieCategorieIcone.S { background: url('/icones_M/S0.png'); }
    div.partieCategorieIcone.T { background: url('/icones_M/T0.png'); }
    div.partieCategorieIcone.Z { background: url('/icones_M/Z0.png'); }
    div.partieCategorieLabel { display: inline-block; width: calc(20em - 47px); height: 47px; line-height: 47px;  }
    div.partieCategorieLabel span { display: inline-block; vertical-align: middle; line-height: normal; font-size: 14px; padding-left: 0.5em; }
    div.partieCategorieLabel span.stat { font-size: 11px; }
    textarea.newMessage { width:400px; }


}
@media only screen and (min-width: 480px) and (max-width: 1024px){
	body { background: #111111 url('/fond1024x1024.jpg') no-repeat fixed center top; }
	#logoApplication { display: inline-block; width: 300px; height: 100px; background: url('/logoApplication_M.png') no-repeat; }
}
@media screen and (min-width: 1024px) {
	body { background: #111111 url('/fond1920x1080.jpg') no-repeat fixed center top; }
    .container { background: #111111 url('/fond1024x1024.jpg') no-repeat fixed center top; }
	#logoApplication { display: inline-block; width: 300px; height: 100px; background: url('/logoApplication_L.png') no-repeat; }
    div.notificationsMenu, ul.menuProfile { margin-right: calc((100% - 1024px) / 2); }
}
@font-face {
    font-family: "nasalization";
    src: url('/font/nasalization_rg.ttf');
}
@font-face {
    font-family: "Digital-7";
    src: url('/font/digital-7.ttf');
}
@font-face {
    font-family: "Digital-7";
    font-style: italic;
    src: url('/font/digital-7_(italic).ttf');
}
@font-face {
    font-family: "MyriadPro";
    src: url('/font/MyriadPro-Regular.otf');
}