<!-- http://blog.teamtreehouse.com/how-to-build-a-three-line-drop-down-menu-for-a-responsive-website-in-jquery -->
<template name="Header">
	<nav class="navMain">
		<div id="logoApplication"></div>
		<div id="rightNavButtons">
			{{#if currentUser}}
			<div id="buttonAvatar">
				<button class="buttonAvatar"><img id="avatarMinified" src="{{#if currentUser.profile.avatar}} {{currentUser.profile.avatar}} {{else}} /avatar-75.png {{/if}}"/></button>
			</div>
			<div id="buttonNotifications">
				<button class="buttonNotifications"><img id="notificationMinified" src="/notification-75.png"/>{{#if nNotifications}}<div class="nNotifications">{{ nNotifications }}</div>{{/if}}</button>
			</div>
			{{/if}}
			{{#if currentPartie}}
			<div id="nomPartie">{{ nomPartie.nom }}</div>	
			{{/if}}
		</div>	
	</nav>
	<div id="navMainHR"></div>
</template>