<template name="Login">
  <div class="login">
	<input type="text" name="login" id="login" value="" placeholder="{{_ 'interface.nomUtilisateur' }}"/><br />
	<input type="password" name="password" id="password" value="" placeholder="{{_ 'interface.motDePasse'}}"/><br />
	<ul class="buttonsBar">
	  <li> <button class="loginWithLDAP">{{_ "interface.login" }}</button> </li>
	  <!--<li> <button class="loginWithFaceBook">{{_ "interface.loginWithFaceBook" }}</button> </li>-->
	</ul>
	{{> Logos}}
  </div>
</template>
<template name="Logos">
	<ul class="logos">
		<li><a href="http://www.ifres.ulg.ac.be" target="_blank"><div class="logoIfres"></div></a></li>
		<li><a href="http://www.ifres.ulg.ac.be/ecampus" target="_blank"><div class="logoEcampus"></div></a></li>
		<li><a href="http://www.facsc.ulg.ac.be" target="_blank"><div class="logoFacSciences"></div></a></li>
		<li><a href="http://www.ago.ulg.ac.be" target="_blank"><div class="logoAgo"></div></a></li>
		<li><a href="http://www.ulg.ac.be" target="_blank"><div class="logoUlg"></div></a></li>
	</ul>
</template>