<template name="MenuPrincipal">
	<div id="menuMain">
		<ul class="menuMain">
			<li><button id="nouvellePartie">{{_ "interface.bouton.nouvellePartie" }}</button></li>
			<li><button id="chargerPartie">{{_ "interface.bouton.chargerPartie" }}</button></li>
			{{#if currentUser.profile.admin }}<li><button id="configuration">{{_ "interface.bouton.configuration" }}</button></li>{{/if}}
			<li><button id="meilleursScores">{{_ "interface.bouton.meilleursScores" }}</button></li>
			<li><button id="aide">{{_ "interface.bouton.aide" }}</button></li>
		</ul>
	</div>

</template>
<template name="Config">
	<div id="menuMain">
		<ul class="menuMain">
			<li><button id="listeUtilisateurs">{{_ "interface.bouton.listeUtilisateurs" }}</button></li>
			<li><button id="listeScenarios">{{_ "interface.bouton.listeScenarios" }}</button></li>
			<li><button id="listeRapports">{{_ "interface.bouton.listeRapports" }}</button></li>
			<li><button id="retour">{{_ "interface.bouton.retour" }}</button></li>
		</ul>
	</div>
</template>
<template name="Scores">
	<button class="lien" id="retour">{{_ "interface.bouton.retour" }}</button>
	{{#unless scores}}<p>{{_ "interface.scores.aucunScore"}}</p>{{/unless}}
	<ol>
		{{#each scores }}
		<li>
			<img id="avatarMinified" src="{{#if user.profile.avatar}} {{user.profile.avatar}} {{else}} /avatar-75.png {{/if}}"/>
			<div class="scoreInfo">{{ user.profile.lastname }}</div>
			<div class="scoreInfo">{{ user.profile.firstname }}</div>
			<div class="scoreInfo">{{ partie.score }}</div>
			<div class="scoreInfo">{{ partie.budget }}</div>
			<div class="scoreInfo">{{ partie.science }}</div>
			<div class="scoreInfo">{{ partie.tempsTotal }}</div>
		</li>
		{{/each}}
	</ol>
</template>