<template name="NotificationsMenu">
<div class="modal fade">
	<div class="notificationsMenu">
		{{#each notifications}}
			{{> Notification }}
		{{/each}}
		<div class="notificationsToolBar"><button id="notificationsToPage">{{_ "interface.notifications.afficherTout" }}</button></div>
	</div>
</div>
</template>
<template name="NotificationsPage">
<div class="notificationsPage">
	{{#each notifications}}
		{{> Notification }}
	{{/each}}
</div>	
</template>
<template name="Notification">
	<div class="notification">
		<div class="notificationAvatar"><img src="{{getAvatar this.action this.data}}"/></div><!--
		--><div class="notificationBody">
			<div class="notificationTexte">	{{{getNotificationTexte this.action this.data}}}</div>
			<div class="notificationDate">{{formatDate this.datetime "DD/MM/YYYY HH:mm:ss"}}</div>
		</div>	
	</div>
</template>