<template name="Parties">
    <div class="toolbarForm">
        <ul>
            <li><button id="retour">{{_ "interface.bouton.retour" }}</button></li>
        </ul>
    </div>
    <div class="listParties">
    {{#each parties}}
        {{> PartieItem }}       
    {{/each}}
    </div>
</template>
<template name="PartieItem">
    <div class="partie {{ estFinie }}">
        <div class="illustrationPartie"></div>
        <div class="infosPartie">
            <div class="titrePartie"><button class="lien" data-partieId="{{ _id }}"  data-scenarioId="{{ scenarioId }}">{{nom}}</button>{{#if finie}}<span class="finie">{{_ "interface.partie.finie"}}</span>{{/if}}</div>
            <div class="descPartie">{{i18nMongo scenario.intitule}}</div>
            <div class="tagsPartie">
                <span class="tagPartie">{{_ "interface.budget" }}: {{{formatValeurRegle deck.budget "eur" false}}}</span>
                {{#if cubesat }}
                    <span class="tagPartie">{{_ "interface.nU"}}: {{scenario.initialisation.cubesatOptions.nU}}</span>
                {{else}}
                    <span class="tagPartie">{{_ "interface.objectif" }}: {{tr "interface.objectifs." objectif}} {{#if planete}}, {{_ "interface.planetes"}}: {{nomPlanete planete.planeteId}} {{/if}}</span>
                {{/if}}
            </div>
        </div>
        <div class="statsPartie">
            <ul>
                <li><span class="label">{{_ "interface.dateModif" }}</span>: <span class="info">{{formatDate dateModif "DD/MM/YYYY"}}</span></li>
                <li><span class="label">{{_ "interface.tpsTotal" }}</span>: <span class="info">{{{formatValeurTemps tempsTotal "tps" false}}}</span></li>
                {{#if finie }}
                <li><span class="label">{{_ "interface.finie" }}</span>: <span class="info">{{ score }}</span></li>
                {{/if}}
            </ul>
        </div>
    </div>
</template>
<template name="Partie">
    {{> PartieHeader partie=partie }}	
    <div id="plateau">
    	{{> Template.dynamic template=partieTemplate data=partieData}}
    </div>
</template>
<template name="PartieHeader">
    <nav class="navPartieMenu">
        <ul>
            <li><button id="partieScenario" class="image" title="{{_ 'interface.bouton.scenario'}}" ></button></li>
            {{#if hasPlanete}}
            <!--{{#unless partie.cubesat}}<li><button id="partieOrbite" class="image" title="{{_ 'interface.bouton.orbite'}}" ></button></li>{{/unless}}-->
            <li><button id="partieLanceur" class="image" title="{{_ 'interface.bouton.lanceur'}}" ></button></li>
            {{#if hasLanceur }}
            {{#unless partie.cubesat}}<li><button id="partieSegmentSol" class="image" title="{{_ 'interface.bouton.segmentSol'}}" ></button></li>{{/unless}}
            <li><button id="partieStructure" class="image" title="{{_ 'interface.bouton.structure'}}" ></button></li>
            <li><button id="partieCollaboration" class="image" title="{{_ 'interface.bouton.collaboration'}}" ></button></li>
            <li><button id="partieExpertise" class="image" title="{{_ 'interface.bouton.expertise'}}" ></button></li>
            <li><button id="partieLancement" class="image" title="{{_ 'interface.bouton.lancement'}}" ></button></li>
            {{/if}}
            {{/if}}
        </ul>
    </nav>
    <nav class="navPartieConstantes">
        <ul>
            <li><button id="partieBudget" class="iconeConstante {{getIconeConstante 'euro-rd' partie.deck.budgetMax partie.deck.budget}}" title="{{_ 'interface.bouton.constanteBudget' }}"></button><span id="partieBudgetConstante" class="partieConstante">{{{formatValeurRegle partie.deck.budget 'eur' false}}}</span></li>
            <li><button id="partieEnergie" class="iconeConstante {{getIconeConstante 'nrj-rd' partie.deck.energieMax partie.deck.energie}}" title="{{_ 'interface.bouton.constanteEnergie' }}"></button><span id="partieEnergieConstante" class="partieConstante">{{{formatValeurRegle partie.deck.energie 'nrg' false}}}</span></li>
            <li><button id="partiePoids" class="iconeConstante {{getIconeConstante 'Kg-rd' partie.deck.masseMax partie.deck.masse}}" title="{{_ 'interface.bouton.constantePoids' }}"></button><span id="partiePoidsConstante" class="partieConstante">{{{formatValeurRegle partie.deck.masse 'pds' false}}}</span></li>
            {{#if partie.cubesat}}<li><button id="partieVolume" class="iconeConstante {{getIconeConstante 'cm-rd' partie.deck.volumeMax partie.deck.volume}}" title="{{_ 'interface.bouton.constanteVolume' }}"></button><span id="partieVolumeConstante" class="partieConstante">{{{formatValeurRegle partie.deck.volume 'vol' false}}}</span></li>{{/if}}
            <li><button id="partieScience" class="iconeConstante {{getIconeConstante 'star-rd' partie.deck.science partie.deck.science}}" title="{{_ 'interface.bouton.constanteScience' }}"></button><span id="partieScienceConstante" class="partieConstante">{{{formatValeurRegle partie.deck.science 'sci' false}}}</span></li>
            <!--<li><button id="partieBudgetLanceur" class="iconeConstante {{getIconeConstante 'L-rd' 10 partie.budgetLanceur }}" title="{{_ 'interface.bouton.constantePcLanceur' }}"></button><span id="budgetLanceur" class="partieConstante">{{multi100 partie.budgetLanceur }}%</span></li>-->
        </ul>
    </nav>

</template>

<template name="PartieLanceur">
    {{#if hasLanceurLourd }}
        <div id="percentLanceurModal">
            <div class="iconePcLanceur"></div><!-- --><div class="pcLanceur"><input id="partiePctLanceur" type="range" min="25" max="100" step="25" value="{{multi100 partie.budgetLanceur }}"/> <span id="percentLanceur" class="partieConstante">{{multi100 partie.budgetLanceur }}%</span></div>
        </div>
    {{/if}}
    {{#each cartes}}
        {{> Carte }}
    {{/each}}
</template>
<template name="PartieOrbite">
    {{#each cartes}}
        {{> Carte }}
    {{/each}}
</template>
<template name="PartieCategorie">
    {{#if nStructure}}<h2 class="structure" data-nStructure="{{nStructure}}"><div class="logoStructure"></div>{{structure.intitule.fr}}({{nStructure}})</h2>{{/if}}
    <p class="categorieLegende">{{{ categorieLegende }}}</p>
    {{#each cartes}}{{> Carte }}{{/each}}
</template>
<template name="PartieStructure">
    <p class="categorieLegende">{{{ categorieLegende }}}</p>
    {{#each structures}}{{> Structure }}{{/each}}
    {{#each cartes}}{{> Carte }}{{/each}}
</template>
<template name="Structure">
    <div id="structure_{{n}}" class="structure isDeck" data-nStructure="{{n}}" ><!--
        --><div class="carteIntitule {{ carte.categorie }} structureMagasin" data-nStructure="{{n}}"><div class="intitule"><span>{{ carte.intitule.fr }} ({{n}})</span></div><div class="carteId">{{ carte.carteId }}</div><div class="carteCopyright">&copy; {{ carte.copyright }}</div></div><!--
        --><div class="structureIllustration"><img src="{{getIllustration carte}}" /></div><!--
        --><div class="carteDescription"></div><!--
        --><div class="structureCategories">
           {{#each categories}}<!--
            --><div class="structureCategorie" data-categorie="{{this.categorie}}" data-nStructure="{{../n}}"><!--
                --><div class="structureCategorieIcone {{this.categorie}}"></div><!--
                --><div class="structureCategorieLabel"><span class="stat">{{this.nbrSelect}}</span></div><!--
            --></div>
            {{/each}} 
           </div><!--
        --><div class="carteConstantes {{ carte.categorie }}">
                <div class="structureConstante"><!--
            --><div class="structureConstanteMasse{{isNegatif masse}}"></div><!--
            --><div class="structureConstanteValeur{{isNegatif masse}}"><span>{{{formatValeurRegle masse 'pds' true}}}</span></div><!--
            --><div class="structureConstanteFin{{isNegatif masse}}"></div><!--
          --></div><div class="structureConstante"><!--
            --><div class="structureConstanteEnergie{{isNegatif energie}}"></div><!--
            --><div class="structureConstanteValeur{{isNegatif energie}}"><span>{{{formatValeurRegle energie 'nrg' true}}}</span></div><!--
            --><div class="structureConstanteFin{{isNegatif energie}}"></div><!--
          --></div>
               <div class="structureToolbar"><button class="structureSupprimer"  data-nStructure="{{n}}" title="{{_ 'interface.bouton.structureSupprimer'}}" ></button></div>
           </div>
    </div>
</template>
<template name="StructurePreview">
    <div id="structure_{{n}}" class="structurePreview" data-nStructure="{{n}}" ><!--
        --><div class="carteIntitule {{ carte.categorie }} structureMagasin" data-nStructure="{{n}}"><div class="intitule"><span>{{ carte.intitule.fr }} ({{n}})</span></div><div class="carteId">{{ carte.carteId }}</div><div class="carteCopyright">&copy; {{ carte.copyright }}</div></div><!--
        --><div class="carteIllustration"><img src="{{getIllustration carte}}" /></div><!--
        --><div class="carteDescription">{{i18nMongo carte.description }}</div><!--
        --><div class="carteConstantes {{ carte.categorie }}">
          {{#if carte.valEur}}<div class="carteConstante"><!--
            --><div class="carteConstanteBudget"></div><!--
            --><div class="carteConstanteValeur"><span>{{{formatValeurRegle (getValeurDeRegle carte.valEur) 'eur' true}}}</span></div><!--
            --><div class="carteConstanteFin"></div><!--
          --></div>{{/if}}{{#if carte.valPds}}<div class="carteConstante"><!--
            --><div class="carteConstanteMasse{{isLanceur}}"></div><!--
            --><div class="carteConstanteValeur"><span>{{{formatValeurRegle (getValeurDeRegle carte.valPds)  'pds' true}}}</span></div><!--
            --><div class="carteConstanteFin"></div><!--
          --></div>{{/if}}{{#if carte.valVol}}<div class="carteConstante"><!--
            --><div class="carteConstanteVolume"></div><!--
            --><div class="carteConstanteValeur"><span>{{{formatValeurRegle (getValeurDeRegle carte.valVol)  'vol' true}}}</span></div><!--
            --><div class="carteConstanteFin"></div><!--
          --></div>{{/if}}{{#if carte.valNrg}}<div class="carteConstante"><!--
            --><div class="carteConstanteEnergie{{isEnergieGenerateur}}"></div><!--
            --><div class="carteConstanteValeur"><span>{{{formatValeurRegle (getValeurDeRegle carte.valNrg)  'nrg' true}}}</span></div><!--
            --><div class="carteConstanteFin"></div><!--
          --></div>{{/if}}<!--    
        --></div>
        {{#if hasTip }}<div class="carteTips">{{i18nMongo carte.tip }}</div>{{/if}}
    </div>
</template>
<template name="PartieCategories">
    <h2 class="structure"  data-nStructure="{{nStructure}}"><div class="logoStructure"></div>{{structure.intitule.fr}}({{nStructure}})</h2>
    {{#each categories}}
        {{#if nbrCartesTotal this}}
        <div class="partieCategorie" data-categorie="{{this}}"><!--
            --><div class="partieCategorieIcone {{this}}"></div><!--
            --><div class="partieCategorieLabel"><span>{{concat "categories." this }}</span><span class="stat">({{nbrCartesSelect this}} / {{nbrCartesTotal this}})</span></div><!--
        --></div>
        {{/if}}
    {{/each}}
</template>
<template name="PartieExpertiseConfirmation">
    <h2>{{_ "interface.expertise.appelExpert" }}</h2>
    <p>{{_ "interface.expertise.appelExpertDescription" }}</p>
    <ul>
        <li>{{_ "interface.scenario.nbrMaxExperts" }}: {{ scenario.expertise.nbrMaxExperts }}</li>
        <li>{{_ "interface.scenario.malusTemps" }}: {{ scenario.expertise.malusTemps }}</li>
        <li>{{_ "interface.scenario.malusBudget" }}: {{ scenario.expertise.malusBudget }}</li>
        <li>{{_ "interface.scenario.malusNbrEvenements" }}: {{ scenario.expertise.malusNbrEvenements }}</li>
        <li>{{_ "interface.scenario.nbrExpertsGratuits" }}: {{ scenario.expertise.nbrExpertsGratuits }}</li>
        <li>{{_ "interface.expertise.nbrExpertsAppeles" }}: {{nbrExpertsAppeles}}</li>
        <li>{{_ "interface.scenario.niveauDetails"}}: {{concat "interface.scenario.niveauDetails" scenario.expertise.niveauDetails }}</li>
    </ul>
    <div class="toolbarForm">
        <ul>
            <li><button class="icone" id="appelExpert"><img src="/icones_S/exprt320b.png" />{{_ "interface.bouton.appelExpert" }}</button></li>
            {{#if rapportExiste}}<li><button class="icone" id="dernierExpert"><img src="/icones_S/rapport320b.png" />{{_ "interface.bouton.dernierExpert" }}</button></li>{{/if}}
        </ul>
    </div>
</template>
<template name="PartieExpertiseRapport">
    <ul class="rapport">
    {{#if erreurs.isOK }}
           <li>{{_ "interface.rapport.isOK"}}</li>
    {{/if}}   
    {{#if erreurs._ }}
        {{#each erreurs._}}
        <li>{{concat "validation." constante }}{{#if nStructure}} ({{nStructure}}) {{/if}}</li>
        {{/each}}
    {{/if}}
    {{#unless niveauDetailsCategorie}}
        {{#unless niveauDetailsCartes}}
                {{_ "interface.rapport.isKO"}}
        {{/unless}}
    {{/unless}}
    {{#if niveauDetailsCategorie }}
        {{#each erreurs.categories }}
        <li>{{concat "categories." this }}</li>
        {{/each}}
    {{/if}}
    {{#if niveauDetailsCartes }}
        {{#each erreurs.cartes }}
        {{#if tag }}
        <li>{{_ "interface.rapport.tag" }}

            <ul>{{#each cartes }}
                <li><button class="carteLien" data-categorieId="{{categorie}}" data-carteId="{{carteId}}" >{{carteId}} {{intitule.fr}}</button></li>
                {{/each}}
            </ul>
        </li>
        {{/if}}
        {{#if incompatible }}
        <li>{{_ "interface.rapport.incompatible" }} <button class="carteLien" data-carteId="{{carteId}}" >{{carte.carteId}} {{carte.intitule.fr}}</button></li>
        {{/if}}
        {{#if necessite }}
        <li>{{_ "interface.rapport.necessite" }} <button class="carteLien" data-carteId="{{carteId}}" >{{carte.carteId}} {{carte.intitule.fr}}</button></li>
        {{/if}}
        {{#if absurde }}
        <li>{{_ "interface.rapport.absurde" }} <button class="carteLien" data-carteId="{{carteId}}" >{{carte.carteId}} {{carte.intitule.fr}}</button></li>
        {{/if}}
       {{/each}} 
       
    {{/if}}
    </ul>
    <div class="toolbarForm">
        <ul>
            <li><button id="appelExpertConfirmation" class="icone"><img src="/icones_S/exprt320b.png" />{{_ "interface.bouton.appelExpert" }}</button></li>
        </ul>
    </div>
</template>
<template name="PartieCollaborationConfirmation">
    <h2>{{_ "interface.collaboration.appelPeer" }}</h2>
    <p>{{_ "interface.collaboration.appelPeerDescription" }}</p>
    <ul>
        <li>{{_ "interface.scenario.nbrMaxAppels" }}: {{ scenario.collaboration.nbrMaxAppels }}</li>
        <li>{{_ "interface.scenario.malusTemps" }}: {{ scenario.collaboration.malusTemps }}</li>
        <li>{{_ "interface.scenario.malusBudget" }}: {{ scenario.collaboration.malusBudget }}</li>
        <li>{{_ "interface.scenario.malusNbrEvenements" }}: {{ scenario.collaboration.malusNbrEvenements }}</li>
        <li>{{_ "interface.scenario.nbrAppelsGratuits" }}: {{ scenario.collaboration.nbrAppelsGratuits }}</li>
        <li>{{_ "interface.scenario.tpsMaxParAppel"}}: {{ scenario.collaboration.tpsMaxParAppel }}</li>
        <li>{{_ "interface.collaboration.nbrPeersAppeles" }}: {{nbrPeersAppeles}}</li>
    </ul>
    <div class="toolbarForm">
        <ul>
            <li>{{> inputAutocomplete settings=settings id="peer" placeholder="..." }} <button class="icone" id="appelPeer"><img src="/icones_S/collab320b.png"/>{{_ "interface.bouton.appelPeer" }}</button></li>
            {{#if messageExiste}}<li><button id="messages">{{_ "interface.bouton.messages" }}</button></li>{{/if}}
        </ul>
    </div>
</template>
<template name="PartieCollaborationMessages">
     <h2>{{_ "interface.collaboration.messages" }}</h2>
     <div class="messages">
        {{#each messageItems}}
            {{#if message}}
        <div class="message">
            <div class="messageHeader"><div class="date">{{formatDate date "MM/DD/YYYY HH:mm"}}</div><span class="sujet">{{concat "interface.collaboration." typeItem}} {{pair.firstname}} {{pair.lastname}} ({{pair.username}})</span></div>
            <div class="messageAvatar"><img src="{{#if pair.avatar}} {{pair.avatar}} {{else}} /defaultAvatar.png {{/if}}"/></div>
            <div class="messageTexte">{{message}}</div>
        </div>    
            {{else}}
        <div class="{{ typeItem }}"><div class="date">{{formatDate date "MM/DD/YYYY HH:mm"}}</div><span class="sujet">{{concat "interface.collaboration." typeItem}} {{pair.firstname}} {{pair.lastname}} ({{pair.username}})</span></div>    
            {{/if}}
        {{/each}}
        <div class="newMessage">
            <textarea class="newMessage" id="newMessage" placeholder="{{_ 'interface.collaboration.nouveauMessage'}}"></textarea>
            <button id="addMessage" class="bouton">{{_ "interface.bouton.envoyer" }}</button>
            <button id="appelPeerConfirmation" class="bouton">{{_ "interface.bouton.appelPeer" }}</button>
        </div>
     </div>
</template>
<template name="PartieLancement">
   
    {{#if finie}}
        {{> PartieScore }}
    {{else}}
    <div class="toolbarForm">
        <ul>
            <li><button class="icone" id="partieLancementConf"><img src="/icones_S/submitGO.png" />&nbsp;{{_ "interface.bouton.lancement" }}</button></li>
        </ul>
    </div>
    {{/if}}
    <div class="deckPreview">
    {{#if hasEvenements}}
        {{#each evenements}} {{> EvenementPreview}} {{/each}}
    {{/if}}
        {{#each cartesglobales.cartes}} {{> CartePreview carte=this lastCarteId=cartesglobales.last}} {{/each}}
    </div>
    {{#each structures}}
    <div class="deckPreview">
            {{> StructurePreview this}}
            {{#each this.cartes }}
                {{> CartePreview carte=this lastCarteId=../last}}
            {{/each}}
    </div>
    {{/each}}

</template>
<template name="PartieLancementConf">
    <div class="modal fade modalCarte">
        <div class="lancementConfirmation">
         {{{_ "interface.confirmationLancement"}}}
         <br /><br />
         <div class="toolbarForm">
            <ul>
                <li><button class="icone" id="partieLancementConfirmation"><img src="/icones_S/submitGO.png" />&nbsp;{{_ "interface.bouton.lancement" }}</button></li>
                <li><button class="icone" id="partieLancementAnnulation"><img src="/icones_S/submit.png"/>&nbsp;{{_ "interface.bouton.annuler" }}</button></li>
            </ul>
        </div>
        </div>
    </div>
</template>
<template name="PartieScore">
    <ul class="rapport">
    {{#each erreurs.evenementsFinaux }}
        <li>{{_ "interface.rapport.evenement" }} <button class="evenementLien" data-eventId="{{_id}}" >{{intitule.fr}} : {{description.fr}}</button></li>
    {{/each}} 
    {{#if erreurs._ }}
        {{#each erreurs._}}
        <li>{{concat "validation." constante }}</li>
        {{/each}}
    {{/if}}
    {{#unless niveauDetailsCategorie}}
        {{#unless niveauDetailsCartes}}
            {{#if erreurs.isOk}}
                {{_ "interface.rapport.isOK"}}
            {{else}}
                {{_ "interface.rapport.isKO"}}
            {{/if}}
        {{/unless}}
    {{/unless}}
    {{#if niveauDetailsCategorie }}
        {{#each erreurs.categories }}
        <li>{{concat "categories." this }}</li>
        {{/each}}
    {{/if}}
    {{#if niveauDetailsCartes }}
        {{#each erreurs.cartes }}
        {{#if tag }}
        <li>{{_ "interface.rapport.tag" }}

            <ul>{{#each cartes }}
                <li><button class="carteLien" data-categorieId="{{categorie}}" data-carteId="{{carteId}}" >{{carteId}} {{intitule.fr}}</button></li>
                {{/each}}
            </ul>
        </li>
        {{/if}}
        {{#if incompatible }}
        <li>{{_ "interface.rapport.incompatible" }} <button class="carteLien" data-carteId="{{carteId}}" >{{carte.carteId}} {{carte.intitule.fr}}</button></li>
        {{/if}}
        {{#if necessite }}
        <li>{{_ "interface.rapport.necessite" }} <button class="carteLien" data-carteId="{{carteId}}" >{{carte.carteId}} {{carte.intitule.fr}}</button></li>
        {{/if}}
        {{#if fiabilite }}
        <li>{{_ "interface.rapport.fiabilite" }} <button class="carteLien" data-carteId="{{carteId}}" >{{carte.carteId}} {{carte.intitule.fr}}</button></li>
        {{/if}}
        {{#if energie }}
        <li>{{_ "interface.rapport.energie" }} <button class="carteLien" data-carteId="{{carteId}}" >{{carte.carteId}} {{carte.intitule.fr}}</button></li>
        {{/if}}
        {{#if absurde }}
        <li>{{_ "interface.rapport.absurde" }} <button class="carteLien" data-carteId="{{carteId}}" >{{carte.carteId}} {{carte.intitule.fr}}</button></li>
        {{/if}}
       {{/each}} 
       
    {{/if}}
    </ul>
    <p class="scoreFinal"><label>{{_ "interface.rapport.score" }}</label> {{score}}</p>
</template>
<template name="UserAutoComplete">
    ({{username}}) {{profile.firstname}} {{profile.lastname}}
</template>
<template name="StructureSuppression">
<div class="modal fade modalCarte">
    <div id="structureSuppressionConfirmation" class="structure isDeck"><!--
        --><div class="carteIntitule {{ carte.categorie }} structureMagasin" data-nStructure="{{n}}"><div class="intitule"><span>{{ carte.intitule.fr }} ({{n}})</span></div><div class="carteId">{{ carte.carteId }}</div></div><!--
        --><div class="structureIllustration"><img src="{{getIllustration carte}}" /></div><!--
        --><div class="carteDescription"></div><!--
        --><div class="structureMessage">
                <img src="/attention.png"/>
                <span class="structureConfirmation">{{{_ "interface.confirmationSuppressionStructure"}}}</span>
            </div>
           <div class="structureToolbar">
             <ul class="structureToolbar">
              <li><button class="structureSuppressionNon"  data-nStructure="{{n}}">{{_ 'interface.bouton.non'}}</button></li>
              <li><button class="structureSuppressionOui"  data-nStructure="{{n}}" data-carteId="{{carte._carteId}}">{{_ 'interface.bouton.oui'}}</button></li>
             </ul>  
           </div>
    </div>
</div>
</template>




