<template name="ConfigScenarios">
	<div class="toolbarForm">
		<ul>
			<li><button id="addScenario">{{_ "interface.bouton.addScenario" }}</button></li>
			<li><button id="retour">{{_ "interface.bouton.retour" }}</button></li>
		</ul>
	</div>
	<div class="configScenarios">
	{{#each scenarios}}
		{{> ConfigScenario }}		
	{{/each}}
	</div>
</template>
<template name="ConfigScenario">
	<div class="scenario">
		<div class="illustrationScenario"></div>
		<div class="infosScenario">
			<div class="titreScenario"><button class="lien" data-scenarioId="{{ _id }}" >{{i18nMongo intitule}}</button></div>
			<div class="descScenario">{{{i18nMongo description}}}</div>
			<div class="tagsScenario">
				<span class="tagScenario">{{_ "interface.budget" }}: {{convertir initialisation.budget "EUR"}}€</span>
				{{#if initialisation.cubesat }}
					<span class="tagScenario">{{_ "interface.cubesat" }}: ({{initialisation.cubesatOptions.nU}} {{_ "interface.U" }} )</span>
				{{else}}
					<span class="tagScenario">{{_ "interface.objectif" }}: {{tr "interface.objectifs." initialisation.objectif}} {{#if initialisation.planetes}}, {{_ "interface.planetes"}}: {{#each initialisation.planetes}} {{nomPlanete this}} {{/each}}{{/if}}</span>
				{{/if}}
			</div>
		</div>
		<div class="statsScenario">
			<ul>
				<li><span class="label">{{_ "interface.dateModif" }}</span>: <span class="info">{{formatDate dateModif "MM/DD/YYYY"}}</span></li>
				<li><span class="label">{{_ "interface.nbrParties" }}</span>: <span class="info">{{nbrPartie _id }}</span></li>
			</ul>
		</div>
	</div>
</template>
<template name="EditScenario">
	<form method="post">
		<input type="hidden" name="_id" id="_id" value="{{ scenario._id }}" />
		<h2>{{#if scenario}} {{_ "interface.editionScenario"}} {{i18nMongo scenario.intitule}} {{else}} {{_ "interface.nouveauScenario" }} {{/if}}</h2>

		<h3>{{_ "interface.scenario.infos" }}</h3>
		<div class="scenarioParametre">
			<label for="intitule" class="required">{{_ "interface.scenario.intitule" }}</label>
			<input type="text" class="longText" id="intitule" name="intitule" value="{{i18nMongo scenario.intitule }}" placeholder="{{_ 'interface.scenario.intitule' }}"/>
		</div>
		<div class="scenarioParametre">
			<label for="description">{{_ "interface.scenario.description" }}</label>
			<textarea id="description" name="description" placeholder="{{_ 'interface.scenario.description' }}" rows="5" cols="100">{{i18nMongo scenario.description }}</textarea>
		</div>
		<div class="scenarioParametre">
			<input type="radio" id="active" name="active" value="1" {{isChecked scenario.active}} />
			<label for="actif">{{_ "interface.scenario.actif" }}</label>
			<input type="radio" id="inactive" name="active" value="0" {{isNChecked scenario.active}} />
			<label for="actif">{{_ "interface.scenario.inactif" }}</label>
		</div>
		<h3>{{_ "interface.scenario.initialisation" }}</h3>
		<div class="scenarioParametre">
			<label for="cubesat">{{_ "interface.scenario.cubesat"}}</label>
			<input type="checkbox" id="cubesat" name="cubesat" value="1" {{isChecked scenario.initialisation.cubesat}} />
		</div>
		<div class="scenarioParametre">
			<label for="nU">{{_ "interface.scenario.nU" }}</label>
			<select id="nU" name="nU">
				<option value="1" {{isSelected scenario.initialisation.cubesatOptions.nU 1}} >1{{_ "interface.U" }}</option>
				<option value="3" {{isSelected scenario.initialisation.cubesatOptions.nU 3}} >3{{_ "interface.U" }}</option>
			</select>
		</div>
		<div class="scenarioParametre">
			<label for="budget">{{_ "interface.scenario.budget" }}</label>
			<input type="text" id="budget" name="budget" value="{{ scenario.initialisation.budget }}" placeholder="{{_ 'interface.scenario.budgetInfo' }}" />
		</div>
		<div class="scenarioParametre">
			<label for="budgetGestion">{{_ "interface.scenario.budgetGestion" }}</label>
			<input type="text" id="budgetGestion" name="budgetGestion" value="{{ scenario.initialisation.budgetGestion }}" placeholder="{{_ 'interface.scenario.budgetInfo' }}" />
		</div>
		<div class="scenarioParametre">
			<label for="objectif">{{_ "interface.scenario.objectif"}}</label>
			<select id="objectif" name="objectif">
				<option value="planete" {{isSelected scenario.initialisation.objectif "planete"}} >{{_ "interface.scenario.objectifPlanete" }}</option>
				<option value="espace" {{isNSelected scenario.initialisation.objectif "planete"}} >{{_ "interface.scenario.objectifEspace" }}</option>
			</select>
		</div>
		<div class="scenarioParametre">
			{{#each planetes}}
				<input type="checkbox" name="planetes" id="planete_{{ planeteId }}" value="{{ planeteId }}" {{isPlaneteChecked planeteId ../scenario.initialisation.planetes }} />
				<label for="planete_{{ planeteId }}">{{nomPlanete planeteId }}</label>
			{{/each}}
		</div>
		<h3>{{_ "interface.scenario.construction" }}</h3>
		<div class="scenarioParametre">
			<label for="tpsMax">{{_ "interface.scenario.tpsMax" }}</label>
			<input type="text" id="tpsMax" name="tpsMax" value="{{ scenario.construction.tpsMax }}" placeholder="{{_ 'interface.scenario.tpsMaxInfo' }}" />
			<span class="parametreLegende">{{_ "interface.legende.enSecondes" }}</span>
		</div>
		<h3>{{_ "interface.scenario.expertise" }}</h3>
		<div class="scenarioParametre">
			<label for="nbrMaxExperts">{{_ "interface.scenario.nbrMaxExperts" }}</label>
			<input type="text" id="nbrMaxExperts" name="nbrMaxExperts" value="{{ scenario.expertise.nbrMaxExperts }}" placeholder="{{_ 'interface.scenario.nbrMaxExpertsInfo' }}" />
		</div>
		<div class="scenarioParametre">
			<label for="malusTempsExpert">{{_ "interface.scenario.malusTemps" }}</label>
			<input type="text" id="malusTempsExpert" name="malusTempsExpert" value="{{ scenario.expertise.malusTemps }}" placeholder="{{_ 'interface.scenario.malusTempsInfo' }}" />
			<span class="parametreLegende">{{_ "interface.legende.enSecondes" }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="malusBudgetExpert">{{_ "interface.scenario.malusBudget" }}</label>
			<input type="text" id="malusBudgetExpert" name="malusBudgetExpert" value="{{ scenario.expertise.malusBudget }}" placeholder="{{_ 'interface.scenario.malusBudgetInfo' }}" />
		</div>
		<div class="scenarioParametre">
			<label for="malusNbrEvenementsExpert">{{_ "interface.scenario.malusNbrEvenements" }}</label>
			<input type="text" id="malusNbrEvenementsExpert" name="malusNbrEvenementsExpert" value="{{ scenario.expertise.malusNbrEvenements }}" placeholder="{{_ 'interface.scenario.malusNbrEvenementsInfo' }}" />
		</div>
		<div class="scenarioParametre">
			<label for="nbrExpertsGratuits">{{_ "interface.scenario.nbrExpertsGratuits" }}</label>
			<input type="text" id="nbrExpertsGratuits" name="nbrExpertsGratuits" value="{{ scenario.expertise.nbrExpertsGratuits }}" placeholder="{{_ 'interface.scenario.nbrExpertsGratuitsInfo' }}" />
		</div>
		<div class="scenarioParametre">
			<label for="niveauDetails">{{_ "interface.scenario.niveauDetails"}}</label>
			<select id="niveauDetails" name="niveauDetails">
				<option value="0" {{isSelected scenario.expertise.niveauDetails 0}} >{{_ "interface.scenario.niveauDetails0" }}</option>
				<option value="1" {{isSelected scenario.expertise.niveauDetails 1}} >{{_ "interface.scenario.niveauDetails1" }}</option>
				<option value="2" {{isSelected scenario.expertise.niveauDetails 2}} >{{_ "interface.scenario.niveauDetails2" }}</option>
			</select>
		</div>
		<h3>{{_ "interface.scenario.collaboration" }}</h3>
		<div class="scenarioParametre">
			<label for="nbrMaxAppels">{{_ "interface.scenario.nbrMaxAppels" }}</label>
			<input type="text" id="nbrMaxAppels" name="nbrMaxAppels" value="{{ scenario.collaboration.nbrMaxAppels }}" placeholder="{{_ 'interface.scenario.nbrMaxAppelsInfo' }}" />
		</div>
		<div class="scenarioParametre">
			<label for="malusTempsAppel">{{_ "interface.scenario.malusTemps" }}</label>
			<input type="text" id="malusTempsAppel" name="malusTempsAppel" value="{{ scenario.collaboration.malusTemps }}" placeholder="{{_ 'interface.scenario.malusTempsInfo' }}" />
			<span class="parametreLegende">{{_ "interface.legende.enSecondes" }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="malusBudgetAppel">{{_ "interface.scenario.malusBudget" }}</label>
			<input type="text" id="malusBudgetAppel" name="malusBudgetAppel" value="{{ scenario.collaboration.malusBudget }}" placeholder="{{_ 'interface.scenario.malusBudgetInfo' }}" />
		</div>
		<div class="scenarioParametre">
			<label for="malusNbrEvenementsAppel">{{_ "interface.scenario.malusNbrEvenements" }}</label>
			<input type="text" id="malusNbrEvenementsAppel" name="malusNbrEvenementsAppel" value="{{ scenario.collaboration.malusNbrEvenements }}" placeholder="{{_ 'interface.scenario.malusNbrEvenementsInfo' }}" />
		</div>
		<div class="scenarioParametre">
			<label for="nbrAppelsGratuits">{{_ "interface.scenario.nbrAppelsGratuits" }}</label>
			<input type="text" id="nbrAppelsGratuits" name="nbrAppelsGratuits" value="{{ scenario.collaboration.nbrAppelsGratuits }}" placeholder="{{_ 'interface.scenario.nbrAppelsGratuitsInfo' }}" />
		</div>
		<div class="scenarioParametre">
			<label for="tpsMaxParAppel">{{_ "interface.scenario.tpsMaxParAppel" }}</label>
			<input type="text" id="tpsMaxParAppel" name="tpsMaxParAppel" value="{{ scenario.collaboration.tpsMaxParAppel }}" placeholder="{{_ 'interface.scenario.tpsMaxParAppelInfo' }}" />
			<span class="parametreLegende">{{_ "interface.legende.enSecondes" }}</span>
		</div>
		<h3>{{_ "interface.scenario.evenement" }}</h3>
		<div class="scenarioParametre">
			<label for="nbrMaxEvenements">{{_ "interface.scenario.nbrMaxEvenements" }}</label>
			<input type="text" id="nbrMaxEvenements" name="nbrMaxEvenements" value="{{ scenario.evenement.nbrMax }}" placeholder="{{_ 'interface.scenario.nbrMaxEvenementsInfo' }}" />
		</div>
		<div class="scenarioParametre">
			<label for="intervalleTps">{{_ "interface.scenario.intervalleTps" }}</label>
			<input type="text" id="intervalleTps" name="intervalleTps" value="{{ scenario.evenement.intervalleTps }}" placeholder="{{_ 'interface.scenario.intervalleTpsInfo' }}" />
			<span class="parametreLegende">{{_ "interface.legende.enSecondes" }}</span>
		</div>
		<h3>{{_ "interface.scenario.validation" }}</h3>
		<div class="scenarioParametre">
			<label for="niveauDetailsValidation">{{_ "interface.scenario.niveauDetails"}}</label>
			<select id="niveauDetailsValidation" name="niveauDetailsValidation">
				<option value="0" {{isSelected scenario.validation.niveauDetails 0}} >{{_ "interface.scenario.niveauDetails0" }}</option>
				<option value="1" {{isSelected scenario.validation.niveauDetails 1}} >{{_ "interface.scenario.niveauDetails1" }}</option>
				<option value="2" {{isSelected scenario.validation.niveauDetails 2}} >{{_ "interface.scenario.niveauDetails2" }}</option>
			</select>
		</div>
		<h3>{{_ "interface.scenario.lancement" }}</h3>
		<div class="scenarioParametre">
			<label for="nbrEvenementsFinaux">{{_ "interface.scenario.nbrEvenementsFinaux" }}</label>
			<input type="text" id="nbrEvenementsFinaux" name="nbrEvenementsFinaux" value="{{ scenario.lancement.nbrEvenements }}" placeholder="{{_ 'interface.scenario.nbrEvenementsFinauxInfo' }}" />
		</div>
		<h3>{{_ "interface.scenario.score" }}</h3>
		<div class="scenarioParametre">
			<label for="ptsParScience">{{_ "interface.scenario.ptsParScience" }}</label>
			<input type="text" id="ptsParScience" name="ptsParScience" value="{{ scenario.score.ptsParScience }}" placeholder="{{_ 'interface.scenario.ptsParScienceInfo' }}" />
		</div>
		<div class="scenarioParametre">
			<label for="seuilTps">{{_ "interface.scenario.seuilTps" }}</label>
			<input type="text" id="seuilTps" name="seuilTps" value="{{ scenario.score.seuilTps }}" placeholder="{{_ 'interface.scenario.seuilTpsInfo' }}" />
			<span class="parametreLegende">{{_ "interface.legende.enMinutes" }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="ptsParTps">{{_ "interface.scenario.ptsParTps" }}</label>
			<input type="text" id="ptsParTps" name="ptsParTps" value="{{ scenario.score.ptsParTps }}" placeholder="{{_ 'interface.scenario.ptsParTpsInfo' }}" />
			<span class="parametreLegende">{{_ "interface.legende.ptsParMinute" }}</span>
		</div>
		 {{#if scenario}}
	    <h3>{{_ "interface.securite" }}</h3>
	    <div class="scenarioParametre">
	      <label for="securite">{{_ "interface.securite"}}</label>
	      <input type="checkbox" id="securite" name="securite" value="1" />
	      <span class="parametreLegende">{{_ "interface.legende.scenarioEdition" }}</span>
	    </div>
    	{{/if}}
	</form>
	<div class="toolbarForm">
		<ul>
			<li><button id="saveScenario">{{_ "interface.bouton.sauver" }}</button></li>
			<li><button id="delScenario">{{_ "interface.bouton.supprimer" }}</button></li>
			<li><button id="retour">{{_ "interface.bouton.retour" }}</button></li>
		</ul>
	</div>
</template>
<template name="ListScenarios">
	<div class="listScenarios">
	{{#each scenarios}}
		{{> ScenarioItem }}		
	{{/each}}
	</div>
</template>
<template name="ScenarioItem">
	<div class="scenario">
		<div class="illustrationScenario"></div>
		<div class="infosScenario">
			<div class="titreScenario"><button class="lien" data-scenarioId="{{ _id }}" >{{i18nMongo intitule}}</button></div>
			<div class="descScenario">{{{i18nMongo description}}}</div>
			<div class="tagsScenario">
				<span class="tagScenario">{{_ "interface.budget" }}: {{convertir initialisation.budget "EUR"}}€</span>
				{{#if initialisation.cubesat }}
					<span class="tagScenario">{{_ "interface.cubesat" }}: ({{initialisation.cubesatOptions.nU}}{{_ "interface.U"}})</span>
				{{else}}
					<span class="tagScenario">{{_ "interface.objectif" }}: {{tr "interface.objectifs." initialisation.objectif}} {{#if initialisation.planetes}}, {{_ "interface.planetes"}}: {{#each initialisation.planetes}} {{nomPlanete this}} {{/each}}{{/if}}</span>
				{{/if}}
			</div>
		</div>
		<div class="statsScenario">
			<ul>
				<li><span class="label">{{_ "interface.dateModif" }}</span>: <span class="info">{{formatDate dateModif "MM/DD/YYYY"}}</span></li>
				<li><span class="label">{{_ "interface.nbrParties" }}</span>: <span class="info">{{nbrPartie scenarioId }}</span></li>
			</ul>
		</div>
	</div>
</template>
<template name="ViewScenario">
		<div id="nomPartieForm">
        	<input type="text" id="nomPartieTxt" value="{{ partie.nom }}"/>
            <button id="nomPartieBouton">{{_ "interface.bouton.renommer" }}</button>    
    	</div>
		<h2>{{_ "interface.viewScenario" }} {{i18nMongo scenario.intitule}} {{partieId}}</h2>

		<h3>{{_ "interface.scenario.infos" }}</h3>
		<div class="scenarioParametre">
			<label for="description">{{_ "interface.scenario.description" }}</label>
			<span>{{{i18nMongo scenario.description }}}</span>
		</div>
		
		{{#unless partie.cubesat}}
		<h3>{{_ "interface.scenario.gestionProjet" }}</h3>
			{{> Carte carteProjet }}
		{{/unless}}

		<h3>{{_ "interface.scenario.initialisation" }}</h3>
		{{#if scenario.initialisation.cubesat}}
		<div class="scenarioParametre">
			<label for="cubesat">{{_ "interface.scenario.cubesat"}}</label>
			<span>{{_ "interface.oui" }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="nU">{{_ "interface.scenario.nU" }}</label>
			<span>{{ scenario.initialisation.cubesatOptions.nU }}{{_ "interface.U"}}</span>
		</div>
		{{/if}}
		<div class="scenarioParametre">
			<label for="budget">{{_ "interface.scenario.budget" }}</label>
			<span>{{{formatValeurRegle scenario.initialisation.budget 'eur' true}}}€</span>
		</div>
		<div class="scenarioParametre">
			<label for="budgetGestion">{{_ "interface.scenario.budgetGestion" }}</label>
			<span>{{{formatValeurRegle scenario.initialisation.budgetGestion 'eur' true}}}€</span>
		</div>
		<div class="scenarioParametre">
			<label for="objectif">{{_ "interface.scenario.objectif"}}</label>
			{{#if compare scenario.initialisation.objectif  "planete"}}
				<span>{{_ "interface.scenario.objectifPlanete" }}</span>
			{{else}}	
				<span>{{_ "interface.scenario.objectifEspace" }}</span>
			{{/if}}
		</div>
		<div class="scenarioParametre">
			<div class="scenarioPlanetes">
			{{#each planetes}}
				{{#if hasPartieId}}<input type="radio" name="planetes" id="planete_{{ planeteId }}" value="{{ planeteId }}" {{isPlaneteChecked planeteId scenario.initialisation.planetes}} />{{/if}}
				<label for="planete_{{ planeteId }}">{{nomPlanete planeteId }}</label>
			{{/each}}
			</div>
		</div>
		<div class="toolbarForm">
			<ul class="scenarioPlanetes">
				{{#if hasPartieId}}{{#if plusieursPlanetes}}
					<li><button id="savePlanetePartie">{{_ "interface.bouton.sauver" }}</button></li>
				{{/if}}{{/if}}
			</ul>
		</div>
		<h3>{{_ "interface.scenario.construction" }}</h3>
		<div class="scenarioParametre">
			<label for="tpsMax">{{_ "interface.scenario.tpsMax" }}</label>
			<span>{{ scenario.construction.tpsMax }}</span>
		</div>
		<h3>{{_ "interface.scenario.expertise" }}</h3>
		<div class="scenarioParametre">
			<label for="nbrMaxExperts">{{_ "interface.scenario.nbrMaxExperts" }}</label>
			<span>{{ scenario.expertise.nbrMaxExperts }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="malusTempsExpert">{{_ "interface.scenario.malusTemps" }}</label>
			<span>{{ scenario.expertise.malusTemps }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="malusBudgetExpert">{{_ "interface.scenario.malusBudget" }}</label>
			<span>{{ scenario.expertise.malusBudget }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="malusNbrEvenementsExpert">{{_ "interface.scenario.malusNbrEvenements" }}</label>
			<span>{{ scenario.expertise.malusNbrEvenements }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="nbrExpertsGratuits">{{_ "interface.scenario.nbrExpertsGratuits" }}</label>
			<span>{{ scenario.expertise.nbrExpertsGratuits }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="niveauDetails">{{_ "interface.scenario.niveauDetails"}}</label>
			<span>{{concat "interface.scenario.niveauDetails" scenario.expertise.niveauDetails }}</span>
		</div>
		<h3>{{_ "interface.scenario.collaboration" }}</h3>
		<div class="scenarioParametre">
			<label for="nbrMaxAppels">{{_ "interface.scenario.nbrMaxAppels" }}</label>
			<span>{{ scenario.collaboration.nbrMaxAppels }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="malusTempsAppel">{{_ "interface.scenario.malusTemps" }}</label>
			<span>{{ scenario.collaboration.malusTemps }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="malusBudgetAppel">{{_ "interface.scenario.malusBudget" }}</label>
			<span>{{ scenario.collaboration.malusBudget }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="malusNbrEvenementsAppel">{{_ "interface.scenario.malusNbrEvenements" }}</label>
			<span>{{ scenario.collaboration.malusNbrEvenements }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="nbrAppelsGratuits">{{_ "interface.scenario.nbrAppelsGratuits" }}</label>
			<span>{{ scenario.collaboration.nbrAppelsGratuits }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="tpsMaxParAppel">{{_ "interface.scenario.tpsMaxParAppel" }}</label>
			<span>{{ scenario.collaboration.tpsMaxParAppel }}</span>
		</div>
		<h3>{{_ "interface.scenario.evenement" }}</h3>
		<div class="scenarioParametre">
			<label for="nbrMaxEvenements">{{_ "interface.scenario.nbrMaxEvenements" }}</label>
			<span>{{ scenario.evenement.nbrMax }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="intervalleTps">{{_ "interface.scenario.intervalleTps" }}</label>
			<span>{{ scenario.evenement.intervalleTps }}</span>
		</div>
		<h3>{{_ "interface.scenario.validation" }}</h3>
		<div class="scenarioParametre">
			<label for="niveauDetailsValidation">{{_ "interface.scenario.niveauDetails"}}</label>
			<span>{{concat "interface.scenario.niveauDetails" scenario.validation.niveauDetails }}</span>
		</div>
		<h3>{{_ "interface.scenario.lancement" }}</h3>
		<div class="scenarioParametre">
			<label for="nbrEvenementsFinaux">{{_ "interface.scenario.nbrEvenementsFinaux" }}</label>
			<span>{{ scenario.lancement.nbrEvenements }}</span>
		</div>
		<h3>{{_ "interface.scenario.score" }}</h3>
		<div class="scenarioParametre">
			<label for="ptsParScience">{{_ "interface.scenario.ptsParScience" }}</label>
			<span>{{ scenario.score.ptsParScience }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="seuilTps">{{_ "interface.scenario.seuilTps" }}</label>
			<span>{{ scenario.score.seuilTps }}</span>
		</div>
		<div class="scenarioParametre">
			<label for="ptsParTps">{{_ "interface.scenario.ptsParTps" }}</label>
			<span>{{ scenario.score.ptsParTps }}</span>
		</div>
	
	
</template>