<template name="ConfigUtilisateurs">
	<button class="lien" id="retour">{{_ "interface.bouton.retour" }}</button>
	<div class="filtreUtilisateurs">
		<label for="filtreUtilisateurs">{{_ "interface_filtre"}}</label>
		<input type="text" id="filtreUtilisateurs" name="filtreUtilisateurs" value="{{ filtreUtilisateurs }}"/>
	</div>
	{{#each utilisateurs}}
		{{> ConfigUtilisateur }}
	{{/each}}
</template>
<template name="ConfigUtilisateur">
	<div class="utilisateur">
		<div class="utilisateurAvatar"><img class="utilisateurAvatar" src="{{#if avatar}} {{avatar}} {{else}} /defaultAvatar.png {{/if}}" /></div>
		<div class="utilisateurInfo">{{ username }}</div>
		<div class="utilisateurInfo">{{ profile.firstname }}</div>
		<div class="utilisateurInfo">{{ profile.lastname }}</div>
		<div class="utilisateurInfo">({{_ "interface.lastLogin"}}: {{formatDate profile.lastlogin "DD/MM/YYYY HH:mm"}})</div>
	</div>
</template>